* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}


/* Estilo del header */
.header {
  background-color: #17202A;
  width: 100vw;
  height: 70px;
  padding: 0 10px;
}

/* Estilo del menu hamburesa */
.bt{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  background: transparent;
  border: none;
  gap: .65rem;
  float: right;
}

.bt > .d{
  background: white;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: .5s;
  transform-origin: right;
}

.bt:hover{
  cursor: pointer;
}

.bt > .div:first-child{
  transform: rotate(-45deg);
}

.bt > .div:nth-child(2){
  opacity: 0;
}

.bt > .div:last-child{
  transform: rotate(45deg);
}

.hnav{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    float: left;
}

.hnav ul{
  display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 100%;
    gap: 10px;
    row-gap: 40px;
    background-color: #17202A;
    z-index: 1;
}

.hnav a{
  text-decoration: none;
  color: white;
  padding: 18px;
}

.hnav a:hover{
  background-color: black;
  color: #FFC300;
}

.title1{
  font-size: 1.5rem;
}

.title{
  font-size: 5rem;
}




/* Estilo del main */
.container{
  display: flex;
  width: 100vw;
  gap: 10px;
}

.cnav{
  width: 15vw;
  padding: 0 20px;
}

.cnav ul{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.cnav a{
  text-decoration: none;
}

.main{
  width: 66vw;
}
/* Estilo de la section 1 */
.msect1{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin:  0 0 50px;
}

.sart{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 0 50px 0;
}

.sart img{
  width: 250px;
  height: auto;
}

/* Code editor estyle*/
.code-editor{
  max-width: 100%;
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px;
  color: white;
}

.s1_par_js{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.titlecd{
  font-family: Lato, sans-serif;
  font-weight: 900;
  letter-spacing: 1.57px;
  color: rgb(212 212 212);
}

.icon {
  width: 30px;
  transition: .2s ease;
}

.icon:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: #6e7281;
}

.editor-content {
  margin: 0 10px 10px;
  color: white;
  border: 2px solid wheat;
  transition: all .5s ease;
}

.b{
  color: rgb(86 156 214);
}

.c{
  color: rgb(156 220 254);
}

.r{
  color: rgb(207 146 120);
}

.d{
  color: rgb(182 206 168);
}

.y{
  color: #FFC300;
}

.v{
  color: blueviolet;
}

@media only screen and (max-width:980px) {
  .bt{
    display: flex;
  }
  
  .hnav{
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
  }
  
  .hnav.active{
    height: 50vh;
  }
  
  .hnav ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bt1{
    display: flex;
  }

  .cnav{
    display: none;
  }

  .main{
    flex: nones;
    width: 100vw;
  }

  .s1_art img{
    width: 150px;
    height: auto;
  }

  .title1{
    font-size: 3rem;
  }
}