.footer {
    width: 100%;
    height: 140px;
    background-color: var(--Very-Light-Gray);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-icons {
    fill: var(--color-text);
}


.footer-redes {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 20px;

}
